<!DOCTYPE html>
<% 
	import config
	user = req.current_user()
	user_count = req.get_user_count()
	messages = get_messages()

%>
<html>
	<title>${config.TITLE}</title>
	<meta charset='utf-8'>
	<script src="${static('js/main.js')}"></script>
	<script src="${static('bootstrap/js/bootstrap.min.js')}"></script>
	<script src="${static('js/jquery-1.11.3.js')}"></script>
	<link href="${static('bootstrap/css/bootstrap.min.css')}" rel="stylesheet" />
	<link href="${static('css/style.css')}" rel="stylesheet" />
	<%block name="head" />
</head>
<body>
		% if user:
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li><a href="${url_for('index')}"><h4>首页</h4></a></li>
							<li><a href="${url_for('signout')}"><h4>注销</h4></a></li>
							<li><a href="${url_for('xss')}"><h4>cookie</h4></a></li>
							<li><a><h4>当前用户:${user.username|h}</h4></a></li>
						</ul>
					</div>
				</div>
			</nav>
		% else:
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="pull-right">
						<ul class="nav nav-pills">
							<li><a href="${url_for('index')}"><h4>首页</h4></a></li>
							<li><a href="${url_for('signin')}"><h4>登录</h4></a></li>
							% if user_count == 0:
								<li><a href="${url_for('signup')}"><h4>注册</h4></a></li>
							% endif
						</ul>
					</div>
				</div>
			</nav>
		% endif
	% if messages:
		% for msg in messages :
			% if msg.tag == 'success' :
				<div class="alert alert-success">
					${ msg.txt }
				</div>
			% elif msg.tag == 'error' :
				<div class="alert alert-warning">
					${ msg.txt }
				</div>
			% endif
		% endfor
		
	% endif

		
	${self.body()}
	<%block name="script" />
</body>
</html>
